*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family:'Raleway', Times, sans-serif;
 
}


 .navbar{
    background-color:rgba(3, 3, 3, .4);
    color: white;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100000;

   
}

.background::after {
    content: "";
    background: url(../img/55.jpg) no-repeat ;
    background-size: 100% 900px;
    max-height: 940;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.container{
    width: 80%;
    margin: auto;

}
.logo{
    color: white;
    letter-spacing: 2px;
    display: inline;  
    

}
.logo h1{
   width: 50%;
   font-size: 2rem;

}
.navbar ul{
    float: right;
    width: 80%;
     list-style: none;
    text-align: right;
    margin-top: -26px;


   
}
.list-item{
    display: inline;
    padding:20px 5px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.ancor{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    
}
.ancor:hover{
    color: #c27c8c;
    text-decoration: underline;
    
}
.cl{
    clear: both;
}
.header-info{
    padding: 390px 20%;
    color: white;
    text-align: center;
    background-color: rgba(3, 3, 3, .6);

}
.header-info p{
    padding-top: 10px;
}
.header-info .ancor{
    background-color:none;
    margin:40px auto;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
}
.header-info .ancor:hover{
    color: #c27c8c;
    letter-spacing: 1px;
}

.colortext{
    color: #c27c8c;
}

.divbackground {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
  }
  
.about-me{
    width: 80%;
    margin:50px auto;
    text-align: center;


}
.about-info{
    width: 50%;
    margin: auto;
    padding: 40px;
    box-shadow: 0 4px 8px 0
     rgba(0, 0, 0, 0.2),
      0 6px 20px 0
       rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}
.p-img{
    margin: auto;
    width: 60%;
    height: 60%;
    border-radius: 50%;

}
.text-about{
    margin-top: 20px;
    color: #222;

}
.social-icon{
    margin-top: 20px;
}


.fa {
    padding: 13px 0px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-github{
      color: white;
      background-color: #333;

  }

@media (max-width:1200px){
    .about-me{
        width: 80%;
        margin:50px auto;
    
    
    }
    .about-info{
        width: 60%;
        margin: auto;
        padding: 20px;
     
    }

}
 


@media  (max-width: 820px) {
    body{
        background-color:white;
        overflow: hidden;
    }

    .container{
        width:100%;
    }
    .background{
        display: none;
    }
    .navbar{
        background-color: rgba(3, 3, 3,.8);
        position: static;
    }
   
    .header-info{
        padding: 10px;
        padding-bottom: 50px;
        color:#222 ;
        background-color:#eee;
        font-size: .7rem;
    }
    
    .navbar ul {
       float: none;
       width: 100%;
       margin-top: 0px;
       box-sizing: border-box;
  
    }
    .list-item{
        display: block;
        font-size: 1rem;
        border: 1px solid #c27c8c;
    }
    .list-item:hover{
       background-color: #c27c8c;
       color: #333;
       font-weight: bold;
    }
    
   
    .logo{
    font-size: .9rem;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    color: white;
    
    }
    .ancor:hover{
        text-decoration: none;
    }
   
    .background::after {
        content: "";
        background: url(../img/55.jpg) no-repeat ;
        background-size: 100% 50%;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
      .header-info p{
        margin-top: 10px;
        margin-bottom: 20px;

      }
      .header-info .ancor{
        padding: 10px 10px;
        border: 2px solid #222;
        color: #222;
        margin-top: 20px;
    }
    .about-me{
        width: 100%;
        margin:50px auto;
    
    
    }
    .about-info{
        width: 80%;
        margin: auto;
        padding: 20px;
     
    }
    .social-icon{
        font-size: .2em;
    }
  
    
 }